<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application>
        <activity
            android:name=".home.KisanNetworkActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight" />

        <activity
            android:name=".message.compose.NewMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight" />
    </application>
</manifest>